body{
    background-color: rgb(41, 41, 41);
}



.card{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(6, auto);
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Tasten */
.tasta{
    grid-column: 3/8;
    grid-row: 2/6;
    background-color: rgb(41, 41, 41);
    border: 0.3vw lawngreen solid;
}

.tasta_grid{
    display: grid;
    grid-template-columns: repeat(12, 8.333%);
    grid-template-rows: repeat(5, auto);
}

.taste{
    background-color: whitesmoke;
    width: 5vw;
    height: 5vw;
    margin: 1vw;
    border-radius: 10%;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 2vw;
    border-bottom: 0.3vw black solid;
    border-right: 0.3vw black solid;
}

.taste-controll{
    background-color: whitesmoke;
    height: 2vw;
}

.tasta_taste-1{
    grid-column: 10;
    grid-row: 4;
}

.tasta_taste-blau{
    margin-top: 5vw;
    margin-left: 3vw;
    grid-column: 9;
    grid-row: 2;
    background-color: blue;
    color: whitesmoke;
}

.tasta_taste-2{
    margin-top: 4vw;
    grid-column: 8;
    grid-row: 2;
}

.tasta_taste-3{
    grid-column: 6;
    grid-row: 2;
}

.tasta_taste-4{
    margin-top: 3vw;
    grid-column: 4;
    grid-row: 2;
}

.tasta_taste-5{
    margin-top: -2vw;
    grid-column: 2;
    grid-row: 3;
}

.tasta_taste-gelb{
    margin-top: -1vw;
    grid-column: 8;
    grid-row: 3;
    background-color: yellow;
}

.tasta_taste-rot{
    margin-top: -4vw;
    grid-column: 6;
    grid-row: 3;
    background-color: red;
}

.tasta_taste-9{
    grid-column: 6;
    grid-row: 4;
    background-color: darkblue;
}

.tasta_taste-10{
    grid-column: 4;
    grid-row: 4;
    background-color: darkblue;
}

/* Spezielle Anzeigen */

.shift{
    background-color: rgb(56, 251, 56);
    box-shadow: 0 0 2vw green;
    border: none;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
    box-shadow: 0 0 2vw green;
    border: none;
} 

.white{
    background-color: whitesmoke;
}

.start_paragraph{
    margin: 1vw 0;
    transition: 1s;
}

.start_flackern{
    transition: 2s;
    font-size: 1vw;
    color: rgb(41, 41, 41);
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-shadow: 1vw 1vw 1vw;
}

.start{
    height: 4vw;
    grid-row: 6;
    grid-column: 3/9;
    text-align: center;
    font-size: 2vw;
    background-color: aqua;
    color: rgb(41, 41, 41);
    border-bottom-left-radius: 50%;
    border-bottom: 0.7vw lawngreen solid;
}

/* Auswertung */
.auswertung{
    grid-column: 3/9;
    grid-row: 1/6;
    z-index: 1;
    background-color: whitesmoke;
    border: 3px black solid;
}

.auswertung_grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 16.666% 16.666% 16.666% 16.666% auto auto ;
}

.auswertung_sub {
    grid-column: 3/4;
    grid-row: 1;
    text-align: center;
    font-size: 3vw;
  }
  
  .auswertung_fehlergesamt {
    margin: 1vw 0;
    font-size: 1.5vw;
    grid-column: 2;
    grid-row: 2;
    text-align: left;
  }
  
  .auswertung_fehlerProzent {
    margin: 1vw 0;
    font-size: 1.5vw;
    grid-column: 3;
    grid-row: 2;
    text-align: center;
  }
  
  .auswertung_anschlaege {
    font-size: 1.5vw;
    margin: 1vw 0;
    grid-column: 4;
    grid-row: 2;
    text-align: right;
  }
  
  .auswertung_table {
    font-size: 2vw;
    border: 2px black solid;
    grid-column: 2/5;
    grid-row: 3;
  }
  
  .auswertung_resetButton {
    margin-top: 3vw;
    grid-column: 2/5;
    grid-row: 6;
    cursor: pointer;
  }

  .auswertung_none{
    display: none;
  }

  .auswertung_notNone{
    display: grid;
  }