.text {
    grid-column: 3/8;
    grid-row: 1;
    background-color: aqua;
    border-top-left-radius: 15%;
    border-top: 0.7vw black solid
}

.text_grid{
    display: grid;
    grid-template-columns: repeat(22, 4.54545454%);
    grid-template-rows: repeat(2, auto);
}

.text_lauf{
    grid-row: 1;
    grid-column: 1/23;
    margin-bottom: 1vw;
    margin-top: 1vw;
    font-size: 3vw;
    text-align: center;
    margin-bottom: 1vw;
    font-size: 3vw;
    margin-top: 1vw;
}



.text_lauf-f{
    grid-column: 1/12;
    text-align: right;
}

.text_lauf-m{
    grid-column: 12;
    text-align: center;
    color: green;
}

.text_lauf-a{
    grid-column: 13/23;
    text-align: left;
}